@using static Todoapp.Database.ToDoList
@model Todoapp.Models.TaskListModel

@{
    ViewData["Title"] = "ToDo List";
}

<script>
    function loadCompleted() {
        var $completedItems = $('#completedItems');
        if ($completedItems.is(':empty')) {
            $.ajax({
                url: '@Url.Action("LoadCompletedTasks", "ToDoList")',
                type: "GET",
                cache: false,
                success: function (data) {
                    $completedItems.html(data);
                }
            });
        }
        else {
            $completedItems.empty();
        }
        return false;
    }
</script>

<div class="row">
    <div class="col-sm-2">
        <h2>Lists</h2>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <form asp-controller="ToDoList" asp-action="Index" method="get">
                    <p>
                        <select asp-for="TaskListCheck" asp-items="Model.TaskList">
                            <option value="">All</option>
                        </select>
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            </li>
        </ul>
    </div>

    <div class="col-8">
        <h2>Tasks</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].TaskText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].TaskList)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].TaskLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].DateTimeFinal)
                    </th>
                    <th>
                        Done
                    </th>
                    <th></th>
                    <th>
                        Creator
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ToDoLists)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskList)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTimeFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskDone)
                        </td>
                        <td>
                            <a asp-action="TaskDone" asp-route-id="@item.Id" class="btn btn-success">Done</a>
                        </td>
                        <td>
                            @foreach (var i in Model.UserList)
                            {
                                @if (i.Id == item.UserId)
                                {
                                    @Html.DisplayFor(modelItem => i.UserName);
                                }
                            }
                        </td>
                        <td>
                            <a asp-action="EditTask" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="DeleteTask" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <td>
            <a class="btn btn-primary" href="/ToDoList/AddTask" role="button">Add Task</a>
            <a class="btn btn-primary" id="loadData" role="button" onclick="loadCompleted()">Show completed</a>
        </td>
        <!--A partial view with finished items is being loaded here-->
        <div id="completedItems"></div>
    </div>
</div>

