@using static Todoapp.Database.ToDoList
@model Todoapp.Models.TaskListModel

@{
    ViewData["Title"] = "ToDo List";
}

<script>
    function loadCompleted() {
        var $completedItems = $('#completedItems');
        if ($completedItems.is(':empty')) {
            $.ajax({
                url: '@Url.Action("LoadCompletedTasks", "ToDoList")',
                type: "GET",
                cache: false,
                success: function (data) {
                    $completedItems.html(data);
                }
            });
        }
        else {
            $completedItems.empty();
        }
        return false;
    }
</script>

<div class="row">
    <div class="col-sm-2">
        <h5>Lists</h5>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <form asp-controller="ToDoList" asp-action="Index" method="get">
                    <p>
                        <select asp-for="TaskListCheck" asp-items="Model.TaskList">
                            <option value="">All</option>
                        </select>
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            </li>
        </ul>
    </div>

    <div class="col-10">
        <h3>Active task list</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].TaskText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].TaskList)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].TaskLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToDoLists[0].DateTimeFinal)
                    </th>
                    <th>
                        Creator
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ToDoLists)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskList)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTimeFinal)
                        </td>
                        <td>
                            @foreach (var i in Model.UserList)
                            {
                                @if (i.Id == item.UserId)
                                {
                                    @Html.DisplayFor(modelItem => i.UserName);
                                }
                            }
                        </td>
                        <td>

                            
                        </td>
                        <td>
                            <a asp-action="TaskDone" asp-route-id="@item.Id" class="btn btn-success btn-sm text-nowrap">
                                <i class="bi bi-check-square"></i>
                            </a>
                            <div class="btn-group" role="group">

                                <a asp-action="EditTask" asp-route-id="@item.Id" class="text-nowrap btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                <a asp-action="DeleteTask" asp-route-id="@item.Id" class="text-nowrap btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container p-1">
            <div class="row pt-2">
                <div class="col-6">
                    <a class="btn btn-primary" href="/ToDoList/AddTask" role="button">
                        <i class="bi bi-pencil-square"></i>&nbsp;Add Task
                    </a>
                </div>

                <div class="col-6 text-end">
                    <a class="btn btn-secondary" id="loadData" role="button" onclick="loadCompleted()">
                        <i class="bi bi-list-check"></i>&nbsp;Show completed
                    </a>
                </div>
            </div>
        </div>
        <!--A partial view with finished items is being loaded here-->
        <div id="completedItems"></div>
    </div>
</div>

