@model IEnumerable<Todoapp.Database.ToDoList>

@{
	    ViewData["Title"] = "ToDo List";
}

  <div class="row">
    <div class="col-sm-2">
      <h2>Lists</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">List #0</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List #1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List #2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List #3</a>
        </li>

      </ul>
      <button type="button" class="btn btn-primary">New list</button>
      <button type="button" class="btn btn-warning">Edit</button>
      <hr class="d-sm-none">
    </div>

    <div class="col-sm-10">
      <h2>Tasks</h2>

      <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskLevel)
            </th>
            <th></th>
        </tr>
               @* <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
                *@
            </tr>
        }
    </tbody>
</table>

      <div class="row">
        <div class="col-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tasks go here" readonly="">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <span class="input-group-text">
              <input type="checkbox" class="form-check-input mt-0" id="def">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tasks go here" readonly="">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <span class="input-group-text">
              <input type="checkbox" class="form-check-input mt-0" id="def">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tasks go here" readonly="">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <span class="input-group-text">
              <input type="checkbox" class="form-check-input mt-0" id="def">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tasks go here" readonly="">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <span class="input-group-text">
              <input type="checkbox" class="form-check-input mt-0" id="def">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tasks go here" readonly="">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <span class="input-group-text">
              <input type="checkbox" class="form-check-input mt-0" id="def">
            </span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" style="margin-top:10px">Add task</button>
    </div>
  </div>